@use './variables' as *;
@use './mixins' as *;
@use './fonts' as *;

body {
    margin: 0;
    padding: 0;
    font-family: $regular-font, "italics";
    box-sizing: border-box;
}

body * {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: $regular-font;
  }
  
  
  a {
    text-decoration: none;
  }


  // ----------------------------- header/nav ----------------------------- //

  .header {

    height: 5rem;
    background-color: $bandSite-Black;
    display: flex;
    flex-direction: column;

    @include tablet {

        flex-direction: row;
        padding-left: 2.15rem;
        height: 4.36rem;
        gap: 4rem;
    }

    @include desktop {
        height: 5.35rem;
        padding-left: 8rem;
        gap: 3.5rem;
    }

    &__logo-container {

        padding-top: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

            
        &__image {
            height: 1.2rem;
            
            }

        @include tablet {
            padding-top: 0rem;
        }
    }


}

.title {
    @include heading-text;
    padding: 8px;
    text-align: center;
    height: 50%;
}

.nav {
    height: 50%;

    @include tablet {
        height: 100%;
    }

    &__list {

        height: 100%;
        width: 100%;
        display: flex;
        list-style: none;
        justify-content: space-around;

        @include tablet {
            gap: 3.4rem;
        }

        @include desktop {
            gap: 2rem;
        }

    } // end list
    
    &__anchor-container {

            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.8rem;
            font-family: $regular-font;
            padding-bottom: 0.5rem;

            &--active {
                font-family: $demi-font;
            }

        @include desktop {
            font-size: 0.875rem;
        }
    }

    &__item {

        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;


    }

    &__link {

            text-decoration: none;
            color: $silver;
     
            width: 100%;
            text-align: center;

        @include tablet {

        }

        @include desktop {
            font-size: 0.875rem;
        }
    }

    &__link--active {
            color: white;
            width: 100%;
            border-bottom: white 0.2rem solid;

        @include tablet {

        }

        @include desktop {
            border-bottom: white 3px solid;
        }
    }
}

.hero-background {
    padding-left: 1rem;
    height: 11.75rem;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('../assets/Images/hero-bio.jpg') center/cover;
    height: 45vw;
    min-height: 20rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    @include tablet {
        padding-left: 2rem;
    }

    @include desktop {
        padding-left: 8rem;
    }

    &--shows {
        background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('../assets/Images/hero-shows.jpg') center/cover;
        flex-direction: column;
        align-items: flex-start;
        padding: 2.5rem 1rem 2rem 1rem;
    

        @include tablet {
            height: 35rem;
            padding: 3rem 2rem 2rem 2rem;
        }
    
        @include desktop {
            height: 45rem;
            padding: 11rem 8rem 2rem 8rem;
        }
    }
}

.hero-text {
 
    font-size: 1.5rem;
    font-family: $demi-font;
    color: $white;

    @include tablet {
        font-size: 3.85rem;
    }

    @include desktop {
        font-size: 3.75rem;
    }
}

// ------------------------------------------------------------ Footer ------------------------------------------------------------

.footer {

    background-color: $bandSite-Black;
    color: $white;
    padding: 1rem;
    margin-top: 1rem;

    @include tablet {
        padding: 3rem 2.25rem 3rem 2.25rem;
        margin-top: 2rem;
    }

    @include desktop {
        padding-left: 8rem;
        padding-right: 8rem;
    }
} // end footer

.footer-wrapper {

    @include tablet {
        position: relative;
    }

    @include desktop {
        
    }
}

.footer-intro {

    display: flex;
    flex-direction: column;
    gap: 1rem;


    @include tablet {
        flex-direction: row;

        gap: 1rem;
        position: relative;
    }

    @include desktop {
        gap: 1rem;
    }
}

.footer-title {

    font-family: $demi-font;
    font-size: 1.5rem;
    color: $white;


    @include tablet {
        font-size: 2.2rem;
        width: 33%;
    }

    @include desktop {
        font-size: 2.3rem;
        width: 25%;
    }

}

.flex-container {

    color: $white;
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    gap: 1rem;

    @include tablet {
        margin-top: 1.5rem;
        flex-direction: row;
    }

    @include desktop {

    }
}

.filler {

    @include tablet {
        width: 67%;
    }

    @include desktop {
        width: 50%;
    }
}

.icon-container {
    display: flex;
    align-items: center;
    gap: 1.5rem;


    @include tablet {
        position: absolute;
        right: 33%;
        top: 20%;
        gap: 1.25rem;
        width: 33%;
    }

    @include desktop {
        right: 48.5%;
        width: 25%;
    }

    &__image {

        height: 1.45rem;
        width: 1.5rem;

        @include tablet {
            height: 1.6rem;
        }

        @include desktop {
            height: 1.65rem;
        }
    }
}


.contact {

    font-size: 0.875rem;
        
    &__container {
        margin-top: 1rem;
    }

    @include tablet {
        font-size: 0.875rem;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        width: 33%;
    }

    @include desktop {
        gap: 0.75rem;
        width: 25%;
    }

    &__name, &__org {

        font-size: 0.875rem;
        font-family: $demi-font;

        @include tablet {
            font-size: 0.875rem;
            // font-family: $demi-font;
        }

    }

    &__details, &__address {

        @include tablet {
            font-size: 0.875rem;
        }

        @include desktop {
        }
        
    }
  
}

// bandsite logo image wrapper
.logo-image_wrapper {
    display: flex;
}

// bandsite logo image
.logo-image_wrapper--tablet {
    @include tablet {
        position: absolute;

        bottom: 87%;
        right: 0%;
    }

}

.footer__logo-image {
    max-height: 1.25rem;
    max-width: 7rem;
    margin-top: 4.5rem;

    @include tablet {
        max-height: 1.75rem;
        margin-top: 3rem;
    }
}

.copyright {

    font-size: 0.7rem;
    margin-top: 1rem;

    @include tablet {
        margin-top: 3rem;
        font-size: 0.875rem;
    }
    
}