// fonts
// $font-primary: Verdana, Geneva, Tahoma, sans-serif;

// colors
$bandSite-Black: #323232;
$BandSite-DarkBlack: #000000;
$silver: #AFAFAF;
$white: #ffffff;
$mercury: #E1E1E1;
// $color-dark: #000;
// $color-light: #fff;
// $color-accent: #f98053;
$albaster: #FAFAFA;
// screen sizes
$tablet-width: 768px;
$desktop-width: 1280px;
$mobile-width: 300px;

