
// colors
// change here
$bandSite-Black: #323232;
$BandSite-DarkBlack: #000000;
$silver: #AFAFAF;
$white: #ffffff;
$mercury: #E1E1E1;
$albaster: #FAFAFA;

// screen sizes
$tablet-width: 768px;
$desktop-width: 1280px;
// $mobile-width: 320px;

