
@use './partials/mixins' as *;
@use './partials/variables' as *;
@use './partials/fonts' as *;
@use './partials/globals' as *;


// ------------------------------ main ------------------------------ //

.main {
        display: flex;
        flex-direction: column;

    &__title {
            font-size: 1.5rem;
            font-weight: 600;
            margin-top: 1.5rem;

            padding-left: 1rem;
            padding-right: 1rem;

        @include tablet {
            padding-left: 2rem;
            padding-right: 2rem;
            font-size: 2.315rem;
            font-weight: 600;
            margin-top: 3rem;
        }

        @include desktop {
            padding-left: 8rem;
            font-size: 2.25rem;
        }
    }
}

.about {

        max-width: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: 1rem;
        padding-bottom: 1rem;

    @include tablet {
        padding-right: 5.85rem;
        padding-left: 5.85rem;
        padding-bottom: 2.25rem;
    }

    @include desktop {
        padding-left: 12.5rem;
        padding-right: 12.5rem;
    }

    &__image {
            width: 100%;
            height: auto;
            object-fit: cover; 
            aspect-ratio: 16/9;
            

        @include tablet {
            height: 25rem;
            margin-top: 2.25rem;
        }

        @include desktop {
            height: 40rem;
        }
    }

    &__quote {
            line-height: 1.75;
            font-weight: 600;
            font-size: 0.875rem;
            margin-top: 0.5rem;

        @include tablet {
            line-height: 1.5;
            font-weight: 600;
            font-size: 1.325rem;
            margin-top: 1rem;

            &--tablet {
                line-height: 1.5;
                font-weight: 600;
                font-size: 1rem;
                margin-top: 0.5rem;
            }
        }

        @include desktop {
            line-height: 1.5;
            font-weight: 600;
            font-size: 1.35rem;
            margin-top: 1rem;

            &--desktop {
                line-height: 2;
                font-weight: 600;
                font-size: 1rem;
                margin-top: 0.5rem;
            }
        }
    }
}

.band {

        width: 100%;

    @include tablet {
        margin-top: 3rem;
    }

    &__title {

            margin-top: 2rem;
            font-size: 0.875rem;
            font-weight: 500;

        @include tablet {
            margin-bottom: 0.5rem;
            margin-top: 1rem;
            font-size: 1.5rem;
            font-weight: 600;
            
        }

        @include desktop {
            margin-top: 1rem;
            font-size: 1.55rem;
            font-weight: 525;
        }
    }

    &__description {



        @include tablet {
            display: flex;
            gap: 2rem;
        }
    }

    &__description-text {
            font-size: 0.875rem;
            line-height: 1.5;
            margin-top: 1rem;
            font-weight: 500;

        @include tablet {
            line-height: 1.55;
            font-size: 0.875rem;
        }

        @include desktop {
            line-height: 1.75;
            margin-top: 1rem;
            font-weight: 500;
            font-size: 0.875rem;
        }
    }
}


// ----------------------------- Photo Galary ----------------------------- //
.photo-galary {

        background-color: $albaster;

        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;

    @include tablet {

        padding-left: 2.25rem;
        padding-right: 2.25rem;
        padding-bottom: 2.25rem;
    }

    @include desktop {

        padding-left: 8rem;
        padding-right: 8rem;
    }

    &__title {
            font-size: 1.5rem;
            font-weight: 600;
            margin-top: 1.5rem;
            margin-bottom: 1rem;

        @include tablet {

            margin-top: 2.5rem;
            margin-bottom: 1.75rem;
            font-size: 2.25rem;
        }

        @include desktop {

            font-size: 2.25rem;
        }
    }

    &__list {

           
            display: flex;
            flex-direction: column;
            gap: 1rem;
        
        @include tablet {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 1.5rem;
            
        }

        @include desktop {

        }
    }

    // gap and justify content overlap. Use one or ther other 
    // try not to use both
    &__photo {
            width: 100%;
            filter: grayscale(0.9);
            &:hover {
                filter: grayscale(0);
                transition: filter 0.5s;
            }

        @include tablet {

            width: 28%;
            flex: 1;
        }

        @include desktop {

        }
    }
}


// ------------------------------------------------------------ Comments ------------------------------------------------------------

.form {
    padding: 0rem 1rem 0rem 1rem;

    @include tablet {
        margin-top: 2rem;
    }

    @include desktop {

    }

    &__title {
        font-size: 1.55rem;
        font-weight: 600;
        margin-top: 1rem;

        @include tablet {
            font-size: 2.32rem;
            padding: 0rem 1rem;
        }

        @include desktop {
            padding: 1rem 7rem 0rem 7rem;

        }
    }

    &__container {

        @include tablet {
            margin-top: 2.5rem;
            padding: 0rem 5rem;

        }

        @include desktop {
            padding: 0rem 23.5rem;
        }
    }

    &__wrapper {
        display: flex;
        gap: 0.75rem;
        border-bottom: $mercury 1px solid;
        padding-bottom: 1rem;
        margin-top: 1.5rem;

        @include tablet {
            padding-bottom: 1.5rem;
        }

        @include desktop {

        }

    }

    &__comment {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 1.25rem;

        @include tablet {

        }

        @include desktop {

        }


        &__btn-container {
            display: flex;
            justify-content: flex-end;
        }

        &-btn {
            background-color: $bandSite-Black;
            border: none;
            color: $white;
            padding: 0.5rem 2rem;
            height: 2.5rem;
            border-radius: 4px;
            font-size: 0.875rem;
            width: 100%;
            cursor: pointer;
    
            @include tablet {

                width: 9.75rem;
                font-size: 1rem;

  
            }

            @include desktop {
                width: 9.4rem;
            }
        }

        
        &-name {

            height: 2.25rem;
            border-radius: 0.25rem;
            padding: 0.75rem;
            background-color: $albaster;
            border: 0.0625rem solid $mercury;
    
            &::placeholder {
                color: black;
                font-size: 0.85rem;
                font-family: 'AvenirNext LT Pro';
            }

            &:focus {
    
                outline: 2px solid black;
            }

    
            @include tablet {
                padding: 1.5rem 1rem;
                
            }

            &--error {
                outline: 2px solid red;

                &:focus {
                    outline: 2px solid red;
                }
                &::placeholder {
                    color: red;
                }   
            }
        }

        &-label {
            color: $silver;
            font-weight: 600;
            font-size: 0.6rem;

            @include tablet {
                font-size: 0.75rem;
            }
        }

        &-text {
            height: 6rem;
            border-radius: 0.25rem;
            padding: 0.75rem;
            border: 0.0625rem solid $mercury;
            background-color: $albaster;
            resize: none;
    
            &::placeholder {
                color: black;
                font-size: 0.85rem;
                font-family: 'AvenirNext LT Pro';
            }
    
            &:focus {

                outline: 2px solid black;
            }

            &--error {
                outline: 2px solid red;

                &:focus {
                    outline: 2px solid red;
                }
                &::placeholder {
                    color: red;
                }   
            }

        }


 
    }


    &__info-container {

        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }


} // end comment form styling




.comment {


    padding: 0rem 1rem 1rem 1rem;

    @include tablet {
        padding: 0rem 6rem;
    }

    @include desktop {
        padding: 0rem 24.5rem;
    }

    &__item {
        display: flex;

        border-bottom: $mercury 1px solid;
        gap: 0.75rem;
        padding-top: 1rem;
        padding-bottom: 1rem;

        @include tablet {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }
    }

    &__value {
        width: 30%;
    }

    &__image {
        background-color: $mercury;
        height: 36px;
        width: 36px;
        object-fit: cover;
        object-position: 30% 60%;
        border-radius: 50%;

        &--form {
            margin-top: 1rem;
        }

        @include tablet {
            height: 3.25rem;
            width: 3.25rem;
            max-height: 3.25rem;
            max-width: 3.25rem;
        }
    }

    &__image-container {

    }

    &__info {
        flex: 1;

        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        &__row-1 {
   
            display: flex;
            justify-content: space-between;
        }
    }

    &__value {
        width: 100%;
        font-size: 0.825rem;
        line-height: 1.5;

        @include tablet {
            font-size: 0.875rem;
        }
    }

    &__name {
        // border: red solid;
        font-size: 0.875rem;
        font-weight: 600;

        @include tablet {
            font-size: 0.9rem;
        }
    }

    &__date {
        font-size: 0.78rem;
        color: $silver;

        @include tablet {
            font-size: 0.875rem;
        }
    }

    &__edit {
        display: flex;
        gap: 1rem;
    }

    &__delete {
        cursor: pointer;
    }

    &__like {
        cursor: pointer;
    }

}



