@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/Font/AvenirNextLTPro-Regular.eot");
  src: url("../assets/Font/AvenirNextLTPro-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/Font/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/Font/AvenirNextLTPro-Regular.woff") format("woff"), url("../assets/Font/AvenirNextLTPro-Regular.ttf") format("truetype"), url("../assets/Font/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/Font/AvenirNextLTPro-Bold.eot");
  src: url("../assets/Font/AvenirNextLTPro-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/Font/AvenirNextLTPro-Bold.woff") format("woff"), url("../assets/Font/AvenirNextLTPro-Bold.ttf") format("truetype"), url("../assets/Font/AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/Font/AvenirNextLTPro-Demi.eot");
  src: url("../assets/Font/AvenirNextLTPro-Demi.eot?#iefix") format("embedded-opentype"), url("../assets/Font/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/Font/AvenirNextLTPro-Demi.woff") format("woff"), url("../assets/Font/AvenirNextLTPro-Demi.ttf") format("truetype"), url("../assets/Font/AvenirNextLTPro-Demi.svg#AvenirNextLTPro-Demi") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
body {
  margin: 0;
  padding: 0;
  font-family: "AvenirNext LT Pro";
}

body * {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@media (min-width: 320px) {
  .header {
    height: 5rem;
    background-color: #323232;
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .header {
    flex-direction: row;
    padding-left: 2.15rem;
    height: 4.36rem;
    gap: 4rem;
  }
}
@media (min-width: 1280px) {
  .header {
    height: 5.35rem;
    padding-left: 8rem;
    gap: 3.5rem;
  }
}
@media (min-width: 320px) {
  .header__logo-container {
    padding-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
@media (min-width: 320px) and (min-width: 320px) {
  .header__logo-container__image {
    height: 1.2rem;
  }
}
@media (min-width: 768px) {
  .header__logo-container {
    padding-top: 0rem;
  }
}

.title {
  font-size: 2rem;
  line-height: 32px;
  font-weight: 600;
  color: #ffffff;
  padding: 8px;
  text-align: center;
  height: 50%;
}

@media (min-width: 320px) {
  .nav {
    height: 50%;
  }
}
@media (min-width: 768px) {
  .nav {
    height: 100%;
  }
}
@media (min-width: 320px) {
  .nav__list {
    height: 100%;
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
  }
}
@media (min-width: 768px) {
  .nav__list {
    gap: 3.4rem;
  }
}
@media (min-width: 1280px) {
  .nav__list {
    gap: 2rem;
  }
}
@media (min-width: 320px) {
  .nav__anchor-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 500;
    padding-bottom: 0.5rem;
  }
}
@media (min-width: 320px) and (min-width: 320px) {
  .nav__anchor-container--active {
    font-weight: 600;
  }
}
@media (min-width: 1280px) {
  .nav__anchor-container {
    font-size: 0.875rem;
  }
}
@media (min-width: 320px) {
  .nav__item {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 320px) {
  .nav__link {
    text-decoration: none;
    color: #AFAFAF;
    font-weight: 700;
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 1280px) {
  .nav__link {
    font-size: 0.875rem;
  }
}
@media (min-width: 320px) {
  .nav__link--active {
    color: white;
    font-weight: 700;
    width: 100%;
    border-bottom: white 0.2rem solid;
  }
}
@media (min-width: 1280px) {
  .nav__link--active {
    border-bottom: white 3px solid;
  }
}

@media (min-width: 320px) {
  .hero-background {
    height: 11.75rem;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url("../assets/Images/hero-bio.jpg") center/cover;
    height: 20rem;
    display: flex;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .hero-background {
    height: 35rem;
  }
}
@media (min-width: 1280px) {
  .hero-background {
    height: 45rem;
  }
}

@media (min-width: 320px) {
  .hero-text {
    margin-left: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
  }
}
@media (min-width: 768px) {
  .hero-text {
    margin-left: 2.25rem;
    font-size: 3.85rem;
  }
}
@media (min-width: 1280px) {
  .hero-text {
    margin-left: 8rem;
    font-size: 3.75rem;
  }
}

@media (min-width: 320px) {
  .main {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 320px) {
  .main__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (min-width: 768px) {
  .main__title {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 2.315rem;
    font-weight: 600;
    margin-top: 3rem;
  }
}
@media (min-width: 1280px) {
  .main__title {
    padding-left: 8rem;
    font-size: 2.25rem;
  }
}

@media (min-width: 320px) {
  .about {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
  }
}
@media (min-width: 768px) {
  .about {
    padding-right: 5.85rem;
    padding-left: 5.85rem;
    padding-bottom: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .about {
    padding-left: 12.5rem;
    padding-right: 12.5rem;
  }
}
@media (min-width: 320px) {
  .about__image {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    aspect-ratio: 16/9;
  }
}
@media (min-width: 768px) {
  .about__image {
    height: 25rem;
    margin-top: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .about__image {
    height: 40rem;
  }
}
@media (min-width: 320px) {
  .about__quote {
    line-height: 1.75;
    font-weight: 600;
    font-size: 0.875rem;
    margin-top: 0.5rem;
  }
}
@media (min-width: 768px) {
  .about__quote {
    line-height: 1.5;
    font-weight: 600;
    font-size: 1.325rem;
    margin-top: 1rem;
  }
  .about__quote--tablet {
    line-height: 1.5;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 0.5rem;
  }
}
@media (min-width: 1280px) {
  .about__quote {
    line-height: 1.5;
    font-weight: 600;
    font-size: 1.35rem;
    margin-top: 1rem;
  }
  .about__quote--desktop {
    line-height: 2;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 0.5rem;
  }
}

@media (min-width: 320px) {
  .band {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .band {
    margin-top: 3rem;
  }
}
@media (min-width: 320px) {
  .band__title {
    margin-top: 2rem;
    font-size: 0.875rem;
    font-weight: 500;
  }
}
@media (min-width: 768px) {
  .band__title {
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
  }
}
@media (min-width: 1280px) {
  .band__title {
    margin-top: 1rem;
    font-size: 1.55rem;
    font-weight: 525;
  }
}
@media (min-width: 768px) {
  .band__description {
    display: flex;
    gap: 2rem;
  }
}
@media (min-width: 320px) {
  .band__description-text {
    font-size: 0.875rem;
    line-height: 1.5;
    margin-top: 1rem;
    font-weight: 500;
  }
}
@media (min-width: 768px) {
  .band__description-text {
    line-height: 1.55;
    font-size: 0.875rem;
  }
}
@media (min-width: 1280px) {
  .band__description-text {
    line-height: 1.75;
    margin-top: 1rem;
    font-weight: 500;
    font-size: 0.875rem;
  }
}

@media (min-width: 320px) {
  .photo-galary {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
}
@media (min-width: 768px) {
  .photo-galary {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    padding-bottom: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .photo-galary {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
@media (min-width: 320px) {
  .photo-galary__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 768px) {
  .photo-galary__title {
    margin-top: 2.5rem;
    margin-bottom: 1.75rem;
    font-size: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .photo-galary__title {
    font-size: 2.25rem;
  }
}
@media (min-width: 320px) {
  .photo-galary__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
@media (min-width: 768px) {
  .photo-galary__list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
}
@media (min-width: 320px) {
  .photo-galary__photo {
    width: 100%;
    filter: grayscale(0.9);
  }
  .photo-galary__photo:hover {
    filter: grayscale(0);
    transition: filter 0.5s;
  }
}
@media (min-width: 768px) {
  .photo-galary__photo {
    width: 28%;
    flex: 1;
  }
}
@media (min-width: 320px) {
  .footer {
    background-color: #323232;
    color: #ffffff;
    padding: 1rem;
  }
}
@media (min-width: 768px) {
  .footer {
    padding: 3rem 2.25rem 3rem 2.25rem;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

@media (min-width: 768px) {
  .footer-wrapper {
    position: relative;
  }
}
@media (min-width: 320px) {
  .footer-intro {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
@media (min-width: 768px) {
  .footer-intro {
    flex-direction: row;
    gap: 1.5rem;
    position: relative;
  }
}
@media (min-width: 1280px) {
  .footer-intro {
    gap: 0rem;
  }
}

@media (min-width: 320px) {
  .footer-title {
    font-weight: 600;
    font-size: 1.5rem;
    color: #ffffff;
  }
}
@media (min-width: 768px) {
  .footer-title {
    font-size: 2.2rem;
  }
}
@media (min-width: 1280px) {
  .footer-title {
    font-size: 2.3rem;
    width: 25%;
  }
}

@media (min-width: 320px) {
  .flex-container {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    gap: 1rem;
  }
}
@media (min-width: 768px) {
  .flex-container {
    margin-top: 1.5rem;
    flex-direction: row;
  }
}
@media (min-width: 320px) {
  .icon-container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
}
@media (min-width: 768px) {
  .icon-container {
    position: absolute;
    right: 33%;
    top: 20%;
    gap: 1.25rem;
    width: 33%;
  }
}
@media (min-width: 1280px) {
  .icon-container {
    right: 48.25%;
    gap: 1.25rem;
    width: 25%;
  }
}
@media (min-width: 320px) {
  .icon-container__image {
    height: 1.45rem;
    width: 1.5rem;
  }
}
@media (min-width: 768px) {
  .icon-container__image {
    height: 1.6rem;
  }
}
@media (min-width: 1280px) {
  .icon-container__image {
    height: 1.65rem;
  }
}

@media (min-width: 320px) {
  .contact {
    font-size: 0.875rem;
  }
}
@media (min-width: 320px) and (min-width: 320px) {
  .contact__container {
    margin-top: 1rem;
  }
}
@media (min-width: 768px) {
  .contact {
    font-size: 0.875rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 33%;
  }
}
@media (min-width: 1280px) {
  .contact {
    gap: 0.75rem;
    width: 25%;
  }
}
@media (min-width: 320px) {
  .contact__name, .contact__org {
    font-size: 0.875rem;
    font-weight: 600;
  }
}
@media (min-width: 768px) {
  .contact__name, .contact__org {
    font-size: 0.875rem;
    font-weight: 600;
  }
}
@media (min-width: 768px) {
  .contact__details, .contact__address {
    font-size: 0.875rem;
  }
}
.logo-image_wrapper {
  display: flex;
}

@media (min-width: 768px) {
  .logo-image_wrapper--tablet {
    position: absolute;
    bottom: 87%;
    right: 0%;
  }
}

@media (min-width: 320px) {
  .footer__logo-image {
    max-height: 1.25rem;
    max-width: 7rem;
    margin-top: 4.5rem;
  }
}
@media (min-width: 768px) {
  .footer__logo-image {
    max-height: 1.75rem;
    margin-top: 3rem;
  }
}

@media (min-width: 320px) {
  .copyright {
    font-size: 0.7rem;
    margin-top: 1rem;
  }
}
@media (min-width: 768px) {
  .copyright {
    margin-top: 3rem;
    font-size: 0.875rem;
  }
}/*# sourceMappingURL=bio.css.map */