
@use './partials/mixins' as *;
@use './partials/variables' as *;
// @use './partials/variables' as *;
@use './partials/fonts' as *;


// global declarations

body {
    margin: 0;
    padding: 0;
    font-family: 'AvenirNext LT Pro';
    
}

body * {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
  }
  
  
  a {
    text-decoration: none;
  }



img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

// ----------------------------- header/nav ----------------------------- //


.header {
    @include mobile {
        height: 5rem;
        background-color: $bandSite-Black;
        display: flex;
        flex-direction: column;

    }

    @include tablet {

        flex-direction: row;
        padding-left: 2.15rem;
        height: 4.36rem;
        gap: 4rem;
    }

    @include desktop {
        height: 5.35rem;
        // flex-direction: row;
        padding-left: 8rem;
        gap: 3.5rem;
    }

    &__logo-container {

        @include mobile {
            padding-top: 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            // border: green solid;
            height: 100%;

            
            &__image {
                @include mobile {
                    height: 1.2rem;
                }

                @include tablet {

                }

                @include desktop {
                    // height: 1.15rem;
                }
            }
        }

        @include tablet {
            padding-top: 0rem;
        }
    }


}

// Text size: 24px | Line height: 32px | Text weight: Bold 700
.title {
    @include heading-text;
    padding: 8px;
    text-align: center;
    height: 50%;
}

.nav {
    @include mobile {
        height: 50%;
    }

    @include tablet {
        height: 100%;
    }

    &__list {

        @include mobile {
            height: 100%;
            width: 100%;
            display: flex;
            list-style: none;
            justify-content: space-around;
        }

        @include tablet {
            gap: 3.4rem;
        }

        @include desktop {
            gap: 2rem;
        }

    } // end list
    
    &__anchor-container {

        @include mobile {
            height: 100%;
            // border: white solid;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.8rem;
            font-weight: 500;
            padding-bottom: 0.5rem;
            // border-bottom: white 0.25rem solid;

            @include mobile {
                // nav__anchor-container--active
                &--active {
                    font-weight: 600;
                }
            }
        }

        @include tablet {
            // padding-bottom: 0rem;
            // font-size: 1.15rem;
            
        }

        @include desktop {
            font-size: 0.875rem;
        }
    }

    &__item {
        //TODO
        @include mobile {
            // border: yellow solid;

            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;

        }

    }

    &__link {

        // TODO mobile adjustment
        @include mobile {
            // Text size: 10px | Line height: 20px | Text weight: Bold 700
            text-decoration: none;
            color: $silver;
            font-weight: 700;
            width: 100%;
            text-align: center;
        }

        @include tablet {

        }

        @include desktop {
            font-size: 0.875rem;
        }
    }

    &__link--active {
        @include mobile {
            color: white;
            font-weight: 700;
            width: 100%;
            border-bottom: white 0.2rem solid;
        }

        @include tablet {

        }

        @include desktop {
            border-bottom: white 3px solid;
        }
    }
}

// ----------------------------- Main/Shows ----------------------------- //

.filler {
    // width: 10%;
}

.shows {

    padding-top: 1rem;;
    padding-bottom: 1rem;

    @include tablet {
        //TODO
    }

    @include desktop {
        //TODO
    }

    &__label {
        display: none;

        @include tablet {
            border: green solid;
            display: flex;
            flex-direction: row;
            // gap: 1rem;
            justify-content: space-between;
            padding: 0rem 2rem 0rem 2rem;
            width: 100%;
            // gap: 1rem;
           
            // border-bottom: 1px $mercury solid;
            margin-top: 3rem;
            margin-bottom: 2rem;
        }

        @include desktop {
            //TODO
        }

        &-date, &-venue, &-location {
            
            @include tablet {
                width: 20%;
                border: red solid;
                font-size: 0.75rem;
                color: $silver;
                font-weight: 600;
                // justify-content: center;
            }

        }

    }

    &__title {
        font-weight: 600;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        padding-left: 1rem;
        padding-right: 1rem;

        @include tablet {
            //TODO
            // border: green solid;
        }
    
        @include desktop {
            //TODO
        }
    }

    &__list {
        list-style: none;
        // border: green solid;
        @include tablet {
            //TODO
        }
    
        @include desktop {
            //TODO
        }
    }

    &__item {
        border: red solid;
        // background-color: rgb(235, 225, 225);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        // padding-bottom: 1rem;
        padding: 0rem 1rem 1rem 1rem;
        border-bottom: 1px $mercury solid;
        margin-top: 1rem;
        
        

        @include tablet {
            flex-direction: row;
            // justify-content: space-between;
            // gap: 2rem;
            // padding: 0rem 1rem 2rem 2rem;
            padding-right: 2rem;
            padding-left: 2rem;
            // align-items: center;
            margin: auto;
            gap: 1.25rem;
        }

        @include desktop {
            //TODO
        }
    }

    &__date {
        border: blue solid;

        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        @include tablet {
            //TODO
            // margin: auto;
            // width: 33%;
            display: flex;
            width: 33%;
            justify-content: center;
            /* align-content: center; */
            // align-items: center;

        }

        @include desktop {
            //TODO
        }
        
    }

    &__date-title {
        font-size: 0.6rem;
        font-weight: 600;
        color: $silver;
        // color: #E1E1E1;
        // display: "none";
        @include tablet {
            //TODO
            display: none;
        }

        @include desktop {
            //TODO
        }
    }

    &__date-value {
        font-size: 0.825rem;
        font-weight: 600;

        @include tablet {
            //TODO
        }

        @include desktop {
            //TODO
        }
    }

    &__venue {
        border: blue solid;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        @include tablet {
            //TODO
            // width: 33%;
            display: flex;
            width: 33%;
            justify-content: center;
            /* align-content: center; */
            // align-items: center;
        }

        @include desktop {
            //TODO
        }
    }

    &__venue-title {
        font-size: 0.6rem;
        font-weight: 600;
        color: $silver;

        @include tablet {
            //TODO
            display: none;
        }

        @include desktop {
            //TODO
        }
    }

    &__venue-value {
        font-size: 0.825rem;
        font-weight: 500;

        @include tablet {
            //TODO
        }

        @include desktop {
            //TODO
        }
    }

    &__location {

        border: blue solid;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        

        @include tablet {
            //TODO
            // width: 33%;
            display: flex;
            width: 33%;
            justify-content: center;
            /* align-content: center; */
            // align-items: center;
        }

        @include desktop {
            //TODO
        }
    }

    &__location-title {

        font-size: 0.6rem;
        font-weight: 600;
        color: $silver;

        @include tablet {
            //TODO
            display: none;
        }

        @include desktop {
            //TODO
        }
    }

    &__location-value {
        font-size: 0.825rem;
        font-weight: 500;

        @include tablet {
            //TODO
        }

        @include desktop {
            //TODO
        }
    }

    &__info {

        border: green solid;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @include tablet {
            display: flex;
            flex-direction: row;
            // gap: 1rem;
            // justify-content: space-between;
            width: 75%;
            gap: 1.25rem;
        }
    }


    &__btn {
        // border: blue solid;
        // text-align: center;
        background-color:$bandSite-Black;
        padding: 0.5rem 2rem;
        border-radius: 4px;
        width: 100%;
        height: 2.5rem;
        // margin:auto;
        display: flex;

        @include tablet {
            //TODO
            // width: 25%;
            border: red solid;
            width: 23%;
        }

        @include desktop {
            //TODO
        }
    }

}// end shows container

.btn {
    // height: 100%;
    // border: red solid;
    color: $white;
    font-size: 1rem;
    font-weight: 600;
    margin:auto;
    // vertical-align: auto;
    // line-height: 20px;
    // margin: auto;
    // justify-content: center;
    // align-content: center;
}




// -------------------------------------------------- Footer ------------------------------------------------------------

footer {

    @include mobile {
        background-color: $bandSite-Black;
        color: $white;
        padding: 1rem;
    }

    @include tablet {
        padding: 3rem 2.25rem 3rem 2.25rem
    }

    @include desktop {
        padding-left: 8rem;
        padding-right: 8rem;
    }
} // end footer

.footer-wrapper {
    @include mobile {

    }

    @include tablet {
        position: relative;
    }

    @include desktop {
        
    }
}

.footer-intro {
    // border: blue solid;
    @include mobile {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    @include tablet {
        flex-direction: row;
        // gap: 8.5rem;
        // gap: 10%;
        gap: 1rem;
        position: relative;
    }

    @include desktop {
        gap: 1rem;
    }
}

.footer-title {
    // border: green solid;
    @include mobile {
        font-weight: 600;
        font-size: 1.5rem;
        color: $white;
        margin-top: 0.5rem;
    }

    @include tablet {
        font-size: 2.2rem;
        width: 33%;
    }

    @include desktop {
        font-size: 2.3rem;
        width: 25%;
    }

}

.flex-container {
    // border: white solid;
    @include mobile {
        color: $white;
        display: flex;
        flex-direction: column;
        margin-top: 0.5rem;
        gap: 1rem;
    }

    @include tablet {
        margin-top: 1.5rem;
        flex-direction: row;
        // gap: 2rem;
    }

    @include desktop {

    }
}

.filler {
    @include mobile {

    }

    @include tablet {
        // height: 100%;
        width: 67%;
        // border: red solid;
    }

    @include desktop {
        width: 50%;
    }
}

.icon-container {
    // border: green solid;
    @include mobile {
        display: flex;
        align-items: center;
        gap: 1.5rem;

    }

    @include tablet {
        position: absolute;
        right: 33%;
        top: 20%;
        gap: 1.25rem;
        width: 33%;
    }

    @include desktop {
        right: 48.5%;
        // gap: 1.25rem;
        width: 25%;
    }

    &__image {

        @include mobile {
            height: 1.45rem;
            width: 1.5rem;
        }

        @include tablet {
            height: 1.6rem;
        }

        @include desktop {
            height: 1.65rem;
        }
    }
}


.contact {
    // border: red solid;
    @include mobile {

        font-size: 0.875rem;
        
        &__container {
            // border: blue;
            @include mobile {
                margin-top: 1rem;
            }
        }
    }

    @include tablet {
        font-size: 0.875rem;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        width: 33%;
    }

    @include desktop {
        gap: 0.75rem;
        width: 25%;
    }

    &__name, &__org {

        @include mobile {
            font-size: 0.875rem;
            font-weight: 600;
        }

        @include tablet {
            font-size: 0.875rem;
            font-weight: 600;
        }

        @include desktop {
           // No need 
        }
    }

    &__details, &__address {

        @include mobile {
        }

        @include tablet {
            font-size: 0.875rem;
        }

        @include desktop {
        }
        
    }
  
}

// bandsite logo image wrapper
.logo-image_wrapper {
    display: flex;
}

// bandsite logo image
.logo-image_wrapper--tablet {
    @include tablet {
        position: absolute;

        bottom: 87%;
        right: 0%;
    }

}

.footer__logo-image {
    @include mobile {
        max-height: 1.25rem;
        max-width: 7rem;
        margin-top: 4.5rem;
    }

    @include tablet {
        max-height: 1.75rem;
        margin-top: 3rem;
    }
}

.copyright {

    @include mobile {
        font-size: 0.7rem;
        margin-top: 1rem;
    }

    @include tablet {
        margin-top: 3rem;
        font-size: 0.875rem;
    }
    
}



