
@use './partials/mixins' as *;
@use './partials/variables' as *;
@use './partials/globals' as *;
@use './partials/fonts' as *;


// global declarations

body {
    margin: 0;
    padding: 0;
    font-family: 'AvenirNext LT Pro';
    
}

body * {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
  }
  
  
  a {
    text-decoration: none;
  }



img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

// ----------------------------- header/nav ----------------------------- //



.hero-text--1 {
    font-size: 0.875rem;

    @include tablet {
        font-size: 1.5rem;
    }
}

.hero-text--2 {
    width: 15rem;
    line-height: 1.5;
    
    @include tablet {
        font-size: 3.75rem;
        width: 35rem;
        line-height: 1.25;
    }

    @include desktop {
        width: 52%;
    }
}

.hero__flex-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include tablet {
        gap: 2rem;
    }

    @include desktop {
        flex-direction: row;
        gap: 7rem;
        width: 100%;
    }
}

iframe {
    width: 100%;
    height: 7rem;
}

.sound__cloud {


    @include tablet {
        width: 75%;
    }

    @include desktop {
        width: 50%;
    }
    
}

// ----------------------------- Main/Shows ----------------------------- //


.shows {

    padding-top: 1rem;;
    padding-bottom: 1rem;

    @include tablet {
    }

    @include desktop {
    }

    &__label {
        display: none;

        @include tablet {
            display: flex;
            flex-direction: row;

            padding: 0rem 2rem 0rem 2rem;
            width: 100%;

            margin-top: 3rem;
            margin-bottom: 2rem;
        }

        @include desktop {
        }

        &-date, &-venue, &-location {
            
            @include tablet {
                width: 33%;

                font-size: 0.75rem;
                color: $silver;
                font-weight: 600;
            }

        }

        &--container {
            display: flex;
            flex-direction: row;
            width: 75%;
            gap: 1.25rem;
        }

    }

    &__title {
        font-weight: 600;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;

        @include tablet {
            font-size: 2.25rem;
            padding-right: 2.25rem;
            padding-left: 2.25rem;
            margin-top: 2rem;
        }
    
        @include desktop {
            position: relative;
            padding-left: 8rem;
            top: 3.25rem;
        }
    }

    &__list {
        list-style: none;
        @include tablet {
            padding-right: 1rem;
            padding-left: 1rem;
        }
    
        @include desktop {
            padding-right: 6rem;
            padding-left: 23.25rem;
        }
    }

    &__item {

        display: flex;
        flex-direction: column;
        gap: 1rem;
  
        padding: 1.5rem 1.25rem 1.5rem 1.25rem;
     
        border-bottom: 1px $mercury solid;

        &:hover {
            background-color: $albaster;
        }
        
        &--clicked {
            background-color: $mercury;
            &:hover {
                background-color: $mercury;
            }
        }

   

        @include tablet {
            flex-direction: row;
            margin: auto;
            gap: 1.25rem;
        }

        @include desktop {
            gap: 1.75rem;
        }



        &--title {
            border: none;
            display: none;
            @include tablet {
                display: block;
            }
        }
    }

    &__date {

        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        @include tablet {
     
            display: flex;
            width: 33%;
            justify-content: center;

        }

        @include desktop {

        }
        
    }

    &__date-title {
        font-size: 0.6rem;
        font-weight: 600;
        color: $silver;
        text-transform: uppercase;

        @include tablet {
            display: none;
        }

        @include desktop {

        }

        &--allow {
            display: none;

            @include tablet {
                display: flex;
                font-size: 0.75rem;
            }
        }
    }

    &__date-value {
        font-size: 0.825rem;
        font-weight: 600;

        @include tablet {
            font-size: 0.875rem;
        }

        @include desktop {
        }
    }

    &__venue {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        @include tablet {

            display: flex;
            width: 33%;
            justify-content: center;

        }

        @include desktop {
            padding-left: 3rem;
        }
    }

    &__venue-title {
        font-size: 0.6rem;
        font-weight: 600;
        color: $silver;
        text-transform: uppercase;

        @include tablet {
            display: none;
        }

        @include desktop {
        }

        &--allow {
            display: none;

            @include tablet {
                display: flex;
                font-size: 0.75rem;

            }
        }
    }

    &__venue-value {
        font-size: 0.825rem;
        font-weight: 500;

        @include tablet {
            font-size: 0.875rem;

        }

        @include desktop {
        }
    }

    &__location {

        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        

        @include tablet {

            display: flex;
            width: 33%;
            justify-content: center;

        }

        @include desktop {
        }
    }

    &__location-title {

        font-size: 0.6rem;
        font-weight: 600;
        color: $silver;
        text-transform: uppercase;

        @include tablet {
            display: none;
        }

        @include desktop {
        }

        &--allow {
            display: none;

            @include tablet {
                display: flex;
                font-size: 0.75rem;

            }
        }
    }

    &__location-value {
        font-size: 0.825rem;
        font-weight: 500;

        @include tablet {
            font-size: 0.875rem;

        }

        @include desktop {
        }
    }

    &__info {

        display: flex;
        flex-direction: column;
        gap: 1rem;

        @include tablet {
            display: flex;
            flex-direction: row;

            width: 75%;
            gap: 1.25rem;
        }

        @include desktop {
            gap: 4rem;
        }
    }


    &__btn {

        background-color:$bandSite-Black;
        border-radius: 4px;
        width: 100%;
        height: 2.5rem;
        display: flex;

        @include tablet {

            width: 22%;
        }

        @include desktop {
            
            width: 20%;
        }

        &--filler {
            display: none;
         
        }
    }

}// end shows container

.btn {

    
    color: $white;
    font-size: 1rem;
    font-weight: 600;
    margin:auto;

}





